* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}
h1 {
  font-family: "Montserrat", sans-serif;
}

.homeflex {
  background-color: white;
  width: 90%;
  margin-left: 80px;
}

.heading1 {
  color: #1b4cb8;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin-top: 120px;
  margin-left: 70px;
  margin-bottom: 0px;
  margin-right: 0px;
  /*margin-right: 100px;*/
  width: 10%;
}
.description {
  font-family: "Poppins", sans-serif;
  /*margin-right: 40px;*/
  margin-left: 70px;
  width: 35%;
  font-weight: bolder;
  color: rgb(44, 44, 44);
  margin-top: 40px;
  height: auto;
  text-align: justify;
  font-size: 20px;
}
.home_img {
  /*margin-bottom: 300px;*/
  width: 600px;
  margin-right: 140px;
  margin-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  float: right;
}
span {
  opacity: 0;
  transition: all 4s ease;
}
span.fade {
  opacity: 1;
}

.heading2 {
  display: block;
  color: #1b4cb8;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin-top: 0px;
  /*margin-left: 25opx;*/
  text-align: center;
  padding-top: 0px;
}

.para1 {
  font-family: "Poppins", sans-serif;
  /*margin-right: 40px;*/
  margin-left: 140px;
  margin-bottom: 0px;
  width: 40%;
  font-weight: bolder;
  color: rgb(44, 44, 44);
  margin-top: 40px;
  font-size: 20px;
  text-align: justify;
}
.para2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-left: 140px;
  margin-bottom: 0px;
  width: 50%;
  text-align: justify;
}
.para3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-left: 140px;
  margin-bottom: 0px;
  width: 40%;
  text-align: justify;
}
.image_about {
  float: right;
  margin-top: 40px;
  width: 500px;
  margin-right: 130px;
}
.about {
  background-color: white;
  margin-top: 300px;
  width: 100%;
}

.undraw2 {
  width: 70px;
}
.heading3 {
  text-align: center;
  font-size: 60px;
  color: #1b4cb8;
  font-weight: 500;
  margin-top: 150px;
  font-family: "Montserrat", sans-serif;
}
.members {
  background-color: white;
}

.head1 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #1b4cb8;
  margin-top: 10px;
  text-align: center;
}
.head2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #1b4cb8;
  margin-top: 10px;
  text-align: center;
}
.classe {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  font-weight: 400;
}
.state {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 15px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 700;
}
.btn-submit:hover {
  cursor: pointer;
}
.learn2,
.learn1 {
  background-color: #1b4cb8;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.learn2 {
  margin-top: 20px;
  margin-left: 120px;
}
.learn1 {
  margin-top: 45px;
  margin-left: 110px;
}
.events {
  background-color: white;
  width: 100%;
}
.heading5 {
  text-align: center;
  margin-top: 130px;
  font-size: 60px;
  color: #1b4cb8;

  font-family: "Montserrat", sans-serif;
}

.carding {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.event1 {
  background-color: white;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgb(206, 204, 204);
  margin-top: 30px;
  margin-right: 10px;
  width: 360px;
}
.event2 {
  background-color: white;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgb(206, 204, 204);
  margin-top: 30px;
  margin-left: 10px;
}
.event2 btn {
  margin: 0;
}

.paragraph,
.salutation {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: justify;
  /* margin-left: 300px;*/
  color: black;
  align-self: center;
  justify-content: center;
  width: 82%;
  /*margin-left: 70px;*/
  /*margin-right: 70px;*/
}
.salutation {
  margin-top: 50px;
}

.flex-event {
  display: flex;
  flex-direction: column;
}

.teacher {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(44, 44, 44);
}
.incharge {
  font-size: 20px;
}
.name1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 400;
}
.flxs1 {
  display: flex;
  justify-content: space-evenly;
}
.flxs2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
.mem img {
  padding-top: 20px;
  width: 150px;
}
.mem h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.mem p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.logo {
  padding-top: 48px;
}
.navbar {
  display: flex;
  justify-content: center;
}
.nav-list {
  display: flex;
}
.robo {
  width: 70px;
  margin-top: 17px;
}
.nav-list li {
  position: sticky;
  list-style: none;
  display: flex;
  padding: 25px;
  margin-bottom: 0px;
}
.nav-list a {
  text-decoration: none;
  color: #1b4cb8;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-top: 40px;
}
.nav-list a:hover {
  transition: 0.8s ease;
  color: rgb(71, 71, 71);
}

.btn {
  margin-top: 20px;
  margin-left: 270px;
  width: 50%;
  font-size: 25px;
  padding: 5px 3px;
  border: 1px solid rgb(219, 205, 205);
  border-radius: 5px;
  background-color: rgb(240, 120, 120);
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  transform: 0.7s ease;
  cursor: pointer;
}
.cardflex1 {
  display: flex;
  justify-content: center;
  height: 400px;
}
.cardflex2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  height: 400px;
}
.class {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.membername {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 20px;
}
.card1 {
  background-color: white;
  width: 250px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgb(206, 204, 204);
  margin: 15px;
}

.contact_form {
  display: flex;
  justify-content: center;
}
.school_info {
  font-family: "Montserrat", sans-serif;
  width: 400px;
  min-height: 400px;
  margin-left: 40px;
}
.school_info h4 {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 20px;
}
.school_info h3 {
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 20px;
}
.school_info h2 {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
}
.school_info b {
  color: #1b4cb8;
}
.school_info p {
  font-size: 22px;
}
.heading4 {
  padding-bottom: 40px;
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  color: #1b4cb8;
  font-weight: 500;
}

.link_pdf {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.parv_b {
  height: 160px;
  width: 160px;
  background-image: url(./parv_b.jpg);
  background-size: cover;
  border-radius: 50%;
}
.arnav_b {
  height: 160px;
  width: 160px;
  background-image: url(./arnav_b.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 0px;
}
.shounak_b {
  height: 160px;
  width: 160px;
  background-image: url(./shounak_b.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-top: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #1b4cb8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*==================Mobile====================*/

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  /*right: 2px;*/
  top: 15px;
  width: 100%;
  text-align: right;
}
.line {
  width: 33px;
  background-color: #1b4cb8;
  height: 4px;
  margin: 5px 10px;
}

@media only screen and (max-width: 500px) {
  .home {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  body {
    max-width: 100vw;
  }
  .robo {
    margin: 0px;
    padding: 0px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .nav-list li {
    flex-direction: column;
    padding: 0px;
    align-self: center;
  }
  .nav-list li a {
    line-height: 10px;
  }
  .navbar {
    height: 380px;
    flex-direction: column;
    transition: all 1s ease-out;
    justify-content: center;
    align-items: center;
  }
  .burger {
    display: block;
  }
  .h-nav-resp {
    height: 10px;
  }
  .v-class-resp {
    opacity: 0;
  }

  .homeflex {
    display: block;
    margin-left: 0px;
    width: 90%;
  }
  .heading1 {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
  }
  .description {
    width: 100%;
    margin-left: 20px;
    /*margin-right: 10px;*/
    margin-top: 15px;
    text-align: justify;
  }
  .home_img {
    display: none;
  }

  .about {
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .heading2 {
    margin-top: 0px;
  }
  .para1 {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 90%;
    text-align: justify;
  }
  .para2 {
    margin-left: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 90%;
  }
  .para3 {
    margin-left: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 90%;
    text-align: justify;
  }
  .image_about_div {
    width: 100%;
    text-align: center;
  }
  .image_about {
    float: none;
    width: 90%;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .events {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .heading5 {
    margin-top: 70px;
  }
  .carding {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .event1 {
    display: flex;
    height: auto;
    padding: 10px;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    width: 90%;
    align-self: center;
    flex-direction: column;
  }
  .event2 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    width: 90%;
    align-self: center;
  }
  .learn1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    align-self: center;
    justify-self: center;
  }
  .learn2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    align-self: center;
    justify-self: center;
  }
  .paragraph,
  .salutation {
    width: 90%;
    text-align: justify;
    color: black;
    align-self: flex-start;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .salutation {
    margin-top: 50px;
  }

  .flex-event {
    display: flex;
    flex-direction: column;
  }

  .members {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .heading3 {
    margin-top: 70px;
  }
  .teacher {
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .incharge {
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .name1 {
    margin-top: 5px;
  }
  .cardflex1 {
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .cardflex2 {
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .card1 {
    width: 94%;
    background-color: #1b4cb8;
  }
  .class {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #fff0f0;
    margin-bottom: 10px;
  }
  .membername {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    color: white;
    margin-top: 0px;
  }

  .contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
  }
  .heading4 {
    margin-top: 20px;
  }
  .contact_form {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .map {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
  }
  .iframe-map {
    width: 20%;
    height: 90%;
  }
  .school_info {
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
  }
  .foot {
    width: 100%;
  }
}

.foot {
  background-color: #1b4cb8;
  color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  opacity: 0.9;
}
.foot_text {
  /*align-self: center;*/
  /*margin-left: 200px;*/
  padding: 0px;
  font-size: 20px;
  text-align: center;
}

.contact_form {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.contact_form li {
  list-style: none;
  font-weight: bolder;
}

.iframe-map {
  width: 100%;
  height: 90%;
}
